input[type="text"] {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
    background-color: #322654;
    color: #f7f0de;
}

label {
    font-size: 20px;
    font-style: oblique;
    font-weight: 900;
    color: #B3C2DB;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
    color: #f7f0de;
    background-color: #322654;
}

.submitBtn {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #f7f0de;
    color:#181528;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
  }

.submitBtn:hover {
    border-color: #B3C2DB;
}