input[type="text"] {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
}

label {
    font-size: 20px;
}

textarea {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: inherit;
}

.submitButton {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #322654;
    color:#B3C2DB;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
  }

.submitButton:hover {
    border-color: #B3C2DB;
}

.deleteButton {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #850124;
    color:#B3C2DB;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}