.ViewEvents {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    min-height: 100vh;
    margin-top: 50px;
}

.searchContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center; 
}

.searchBar {
  width: 400px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 18px;
  padding-left: 10px;
  background-color: #f7f0de;
  color: #181528;
}

#default-text {
    color: #b3c2db;
    font-size: 36px;
    grid-column: 1 / -1;
    margin: 0;
}