.Post {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 25px;
    width: 400px;
    text-align: center;
}

.title {
    color:white;
    font-size: 18px;
    padding-left: 20px;
}

.bands {
    color:white;
    font-size: 24px;
}

.time {
    color:white;
    margin-bottom: 20px;
    font-size: 20px;
}

.address {
    color:white;
    margin-bottom: 20px;
    font-size: 20px;
}

.price {
    color:white;
    margin-bottom: 20px;
    font-size: 20px;
}

.parking {
    color:white;  
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}

.description {
    color:white;  
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}

.likeButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #181528;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
}
.likeButton:hover {
    border-color: #b3c2db;
  }

.moreButton {
    width: 30px;
    float:right;

}
.moreButton:hover {
    cursor: pointer;
}