.Post {
    background-color: #322654;
    outline: 8px double #f7f0de;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.title {
    color:#f7f0de;
    text-shadow: #322654 1px 1px 2px;
    font-size: 32px;
    padding-left: 40px;
}

.bands {
    color:#b3c2db;
    margin-bottom: 5px;
    font-size: 28px;
}

.bandImage {
    display: block;
    margin: 0 auto 15px auto; 
    outline: #181528 7px solid;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.time {
    color:#f7f0de;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic;
}

.likeButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #181528;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
}
.likeButton:hover {
    border-color: #b3c2db;
  }

.moreButton {
    width: 30px;
    float:right;

}
.moreButton:hover {
    cursor: pointer;
}