.App {
  font-family:Avenir, "Century Gothic", sans-serif;
  font-weight:100; 
  font-style:normal;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  background-color: #181528;
  padding:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  color:white;
  text-align: center;
}

@font-face {
  font-family: titleFont; 
  src: url(./fonts/HellForgeStacked.ttf) format("truetype"); 
}

h1 {
  font-family: titleFont;
  font-size: 70px;
}

.ViewEvents {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.viewBtn {
  border-radius: 8px;
  margin: 10px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 800;
  font-family: inherit;
  background-color: #322654;
  color:#B3C2DB;
  cursor: pointer;
  transition: border-color 0.25s;
}
.viewBtn:hover {
  border-color: #7994be;
  border-style: groove;
}

.addBtn {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 800;
  font-family: inherit;
  background-color: #B3C2DB;
  color:#322654;
  cursor: pointer;
  transition: border-color 0.25s;
}
.addBtn:hover {
  border-color: #322654;
  border-style: groove;
}